$grey-lighter: #dbdee0;
$grey-light:   #8c9b9d;

$background: $grey-light;
$footer-background-color: $background;
$footer-padding:2rem 0.5rem 2rem;

$radius-small: 3px;
$radius: .4em;
$radius-large: 8px;


